.principal_div
{
    display : grid ;
    grid-template: 15vh 20vh 30vh 20vh 15vh / 1fr ;
    grid-template-areas: "section1" "section2" "section3" "section4" "section5";
}


.main_logo
{
background-color: #87ceeb;  
}
.main_menu
{
    background-color: #40e0d0;
}
.main_content
{
    background:#d8bfd8;
}
.main_ab
{
    background-color:#ee82ee; 
}
.main_footer
{
    background-color: #87ceeb;
}

header, nav, section, aside, footer
{
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

/* ------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------PARTIE RESPONSIVE  MEDIA QUERY----------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------- */

@media (min-width: 768px) 
{
.principal_div 
{
display : grid ;
grid-template: 15vh 50vh 20vh 15vh / 25vw 75vw ;
grid-template-areas: 
                    "section2  section1"
                    "section2  section3"
                    "section2  section4"
                    "section5  section5";
}
header{
    background-color:#87ceeb;
    grid-area: section1; 
    }
nav{
    background-color:aqua;
    grid-area: section2; 
    }
section{
    background-color:#d8bfd8;
    grid-area: section3; 
    }

aside{
    background-color: #ea52ea;
    grid-area:section4; 
    }
footer{
    background-color: #87ceeb;
    grid-area: section5; 
    }
}

@media (min-width: 1050px) 
{
.principal_div 
{
display : grid ;
grid-template: 25vh 50vh 25vh   / 20vw 60vw 20vw ;
grid-template-areas: 
                    "section2  section1 section1"
                    "section2  section3 section4" 
                    "section5  section5 section5";
}
}